<!DOCTYPE html>
<html>
<head>
    <title>Form page</title>

    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='images/icon.png') }}">

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/style_inputpage.css') }}">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <img id="logo"
         src="{{ url_for('static', filename='images/logo.png') }}">

    <h1><span>Input Form</span></h1>

    <h4>Upload the image below!</h4>

    <!-- Upload Form -->
    <form action="/result" method="POST" enctype="multipart/form-data">

        <!-- Hidden File Input -->
        <input type="file"
               id="fileInput"
               name="image"
               accept="image/*"
               style="display:none;">

        <!-- Select Image Button -->
        <button type="button"
                id="imageBtn"
                class="btn btn-success">
            Select an Image
        </button>

        <br><br>

        <!-- Show Selected File -->
        <p id="fileName"></p>

        <button type="submit"
                class="btn btn-primary">
            Upload
        </button>

    </form>

    <img id="asset1"
         src="{{ url_for('static', filename='images/input_page_asset1.png') }}">

    <img id="asset2"
         src="{{ url_for('static', filename='images/input_page_asset2.png') }}">

    <img id="asset3"
         src="{{ url_for('static', filename='images/input_page_asset3.png') }}">

    <script>
        document.getElementById("imageBtn").addEventListener("click", function () {
            document.getElementById("fileInput").click();
        });

        document.getElementById("fileInput").addEventListener("change", function () {
            if (this.files.length > 0) {
                document.getElementById("fileName").innerHTML =
                    "Selected: " + this.files[0].name;
            }
        });
    </script>

</body>
</html>
